* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2 {
  width: 100%;
}

.vector {
  display: flex;
}

.cell {
  background: #dedede;
  height: 30px;
  width: 30px;
  margin: 2px;
  padding: 4px;
  transition: all 0.2s ease-in-out;
}

.cell:hover {
  background: #0062ff;
  cursor: pointer;
}
